.couverture{
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.579);
    background-image: url(home.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.navbar{
    height: 5vh;
    display: flex;
    background-color: rgb(167, 165, 165);
    align-items: center !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar h4{
    margin: 0;
    padding: 0;
}
.navbar .col-6{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    align-items: center;
    box-sizing: content-box !important;
}
/* .nav-link{
    margin-top: 0 !important;
    padding-top: 0 !important;
} */
.col-article{
    width: 23%;
    border: solid 1px rgb(61, 63, 65);
    height: max-content;
    text-align: center;
}
.article_image{
    width: 80%;
}
.article_imagecont{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    align-items: center;
    padding: 10px;
}
.article_content{
    width: 100%;
    margin: 0;
    background-color: rgba(144, 146, 148, 0.508);
    padding: 20px;
}
.article_content ul li{
    text-align: left;
    font-size: small;
}
#button-menu{
    display: none !important;
}
#button-menu i{
    margin-right: 10px;
}
#menu{
    position: fixed;
    display: table;
    height: 100vh;
    background-color: #edf0f2;
    width: 30%;
    right: -30%;
    top: 0px;
}
.menu-links{
    padding: 0 5%;
    display: table-cell;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.menu-links li{
    text-align: center;
    margin-bottom: 0.8em;
    display: list-item;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0
}
.menu-links li a{
    color: #000 !important;
    font-family: "Nocturno" !important;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 25px;
    outline: none !important;
    text-decoration: none;
    cursor: pointer;
}
.menu-links li a:focus{
    outline: none !important;
}
#button-close{
    color: #000;
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 30px;
    pointer-events: painted;
}

/****************************************Style phone**********************************************/
@media screen and (max-width: 800px) {
    .col-article{
        width: 40%;
    }
    .couverture{
        height: 30vh;
    }
    .article_imagecont{
        height: 190px;
    }
    #navigation{
        display: none  !important;
    }
    #button-menu{
        display: flex !important;
    }
}